

li {
  list-style-type: none
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 70px;
}

main {
  margin-top: 20px;
  flex:1;
}

footer {
  height: 5rem;
}

.navbar-title {
  float: left;
}

.navbar {
  margin-bottom: 0;
  padding: 0 1rem;
}

.navbar-toggle {
  margin: 2rem 0 0 0;
}

.todo_item {
  font-size: 2.5rem;
  margin: 1.5rem 1rem;
  cursor: pointer;
  float: left;
}

.remove_button {
  float: right;
  margin: 1.5rem 1rem;
}
